
<style>
  .big { font-size:30pt}
  .italic { font-style: italic;}
</style>

<h1>Property Bindings Demo</h1>
<h2 [innerText]="message"></h2>
<h2>{{message}}</h2>
<div [innerText]="'This is another message'"></div>
<div [innerText]="1000"></div>

<input type="checkbox" #checkbox (click)="true">Checkbox 
<p></p>
<button [disabled]="checkbox.checked">Button </button> 

<hr/>

<h1>Attribute Bindings Demo</h1>
<button  [attr.title]="title">Details</button>
<button  title="{{title}}">Show Details</button>
<a  [attr.href]="target" target="_blank">{{target}}</a>


<hr/>

<h1>Class & Style Bindings Demo</h1>
<div [class.big]="big.checked"  
     [class.italic]="true"
     [style.color]="red.checked ? 'red' : 'green'">
   Live as if you die tomorrow, learn as if you never die
</div>
<input type="checkbox" #big (click)="true">Big Letters 
<input type="checkbox" #red (click)="true">Red Letters 
<h3 [style.color]="color.value">Angular</h3>
<select #color (change)="true">
   <option>Red</option>
   <option>Green</option>
   <option>Blue</option>
</select>

<hr/>

<h1>Event Binding</h1>
<div (mousedown)="showPointer($event)"
     style="background-color: blue;color:white">
    Live as if you die tomorrow 
    <p></p> 
    learn as if you never die
</div>
<div>{{pointerPosition}}</div>
<button (click)="null">Button</button>
