<h1>Books Manager</h1>

<h3>Add New Book</h3>
<input type="text" #title placeholder="title"/>
<input type="number" #price placeholder="price" />
<button (click)="addBook(title.value, price.value)">Add Book </button>
<p></p>

<h3>Available Books</h3>
<table class="table text-center">
    <thead>
        <tr><th>Title</th><th>Price</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of books">
            <td>{{b.title}}</td>
            <td>{{b.price}}</td>
        </tr>
    </tbody>
</table>